<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micromall.daoserver.mapper.MallorderMapper">
  <resultMap id="BaseResultMap" type="com.micromall.daoserver.dbmodel.Mallorder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="orderCode" jdbcType="VARCHAR" property="ordercode" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="platformId" jdbcType="INTEGER" property="platformid" />
    <result column="orderType" jdbcType="INTEGER" property="ordertype" />
    <result column="targetId" jdbcType="VARCHAR" property="targetid" />
    <result column="targetName" jdbcType="VARCHAR" property="targetname" />
    <result column="targetAddress" jdbcType="VARCHAR" property="targetaddress" />
    <result column="targetPhone" jdbcType="VARCHAR" property="targetphone" />
    <result column="standardPrice" jdbcType="INTEGER" property="standardprice" />
    <result column="salePrice" jdbcType="INTEGER" property="saleprice" />
    <result column="costPrice" jdbcType="INTEGER" property="costprice" />
    <result column="trafficPrice" jdbcType="INTEGER" property="trafficprice" />
    <result column="payPrice" jdbcType="INTEGER" property="payprice" />
    <result column="flowStatus" jdbcType="INTEGER" property="flowstatus" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="payTime" jdbcType="TIMESTAMP" property="paytime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="tradingFlow" jdbcType="VARCHAR" property="tradingflow" />
    <result column="deliveryTime" jdbcType="TIMESTAMP" property="deliverytime" />
    <result column="tradeTime" jdbcType="TIMESTAMP" property="tradetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderCode, userId, platformId, orderType, targetId, targetName, targetAddress, 
    targetPhone, standardPrice, salePrice, costPrice, trafficPrice, payPrice, flowStatus, 
    state, createTime, payTime, updateTime, tradingFlow, deliveryTime, tradeTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallorder
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mallorder
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.micromall.daoserver.dbmodel.Mallorder">
    insert into mallorder (id, orderCode, userId, 
      platformId, orderType, targetId, 
      targetName, targetAddress, targetPhone, 
      standardPrice, salePrice, costPrice, 
      trafficPrice, payPrice, flowStatus, 
      state, createTime, payTime, 
      updateTime, tradingFlow, deliveryTime, 
      tradeTime)
    values (#{id,jdbcType=VARCHAR}, #{ordercode,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{platformid,jdbcType=INTEGER}, #{ordertype,jdbcType=INTEGER}, #{targetid,jdbcType=VARCHAR}, 
      #{targetname,jdbcType=VARCHAR}, #{targetaddress,jdbcType=VARCHAR}, #{targetphone,jdbcType=VARCHAR}, 
      #{standardprice,jdbcType=INTEGER}, #{saleprice,jdbcType=INTEGER}, #{costprice,jdbcType=INTEGER}, 
      #{trafficprice,jdbcType=INTEGER}, #{payprice,jdbcType=INTEGER}, #{flowstatus,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{paytime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{tradingflow,jdbcType=VARCHAR}, #{deliverytime,jdbcType=TIMESTAMP}, 
      #{tradetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.micromall.daoserver.dbmodel.Mallorder">
    insert into mallorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ordercode != null">
        orderCode,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="platformid != null">
        platformId,
      </if>
      <if test="ordertype != null">
        orderType,
      </if>
      <if test="targetid != null">
        targetId,
      </if>
      <if test="targetname != null">
        targetName,
      </if>
      <if test="targetaddress != null">
        targetAddress,
      </if>
      <if test="targetphone != null">
        targetPhone,
      </if>
      <if test="standardprice != null">
        standardPrice,
      </if>
      <if test="saleprice != null">
        salePrice,
      </if>
      <if test="costprice != null">
        costPrice,
      </if>
      <if test="trafficprice != null">
        trafficPrice,
      </if>
      <if test="payprice != null">
        payPrice,
      </if>
      <if test="flowstatus != null">
        flowStatus,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="paytime != null">
        payTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="tradingflow != null">
        tradingFlow,
      </if>
      <if test="deliverytime != null">
        deliveryTime,
      </if>
      <if test="tradetime != null">
        tradeTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ordercode != null">
        #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="platformid != null">
        #{platformid,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="targetid != null">
        #{targetid,jdbcType=VARCHAR},
      </if>
      <if test="targetname != null">
        #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="targetaddress != null">
        #{targetaddress,jdbcType=VARCHAR},
      </if>
      <if test="targetphone != null">
        #{targetphone,jdbcType=VARCHAR},
      </if>
      <if test="standardprice != null">
        #{standardprice,jdbcType=INTEGER},
      </if>
      <if test="saleprice != null">
        #{saleprice,jdbcType=INTEGER},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=INTEGER},
      </if>
      <if test="trafficprice != null">
        #{trafficprice,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        #{payprice,jdbcType=INTEGER},
      </if>
      <if test="flowstatus != null">
        #{flowstatus,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradingflow != null">
        #{tradingflow,jdbcType=VARCHAR},
      </if>
      <if test="deliverytime != null">
        #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradetime != null">
        #{tradetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micromall.daoserver.dbmodel.Mallorder">
    update mallorder
    <set>
      <if test="ordercode != null">
        orderCode = #{ordercode,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="platformid != null">
        platformId = #{platformid,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null">
        orderType = #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="targetid != null">
        targetId = #{targetid,jdbcType=VARCHAR},
      </if>
      <if test="targetname != null">
        targetName = #{targetname,jdbcType=VARCHAR},
      </if>
      <if test="targetaddress != null">
        targetAddress = #{targetaddress,jdbcType=VARCHAR},
      </if>
      <if test="targetphone != null">
        targetPhone = #{targetphone,jdbcType=VARCHAR},
      </if>
      <if test="standardprice != null">
        standardPrice = #{standardprice,jdbcType=INTEGER},
      </if>
      <if test="saleprice != null">
        salePrice = #{saleprice,jdbcType=INTEGER},
      </if>
      <if test="costprice != null">
        costPrice = #{costprice,jdbcType=INTEGER},
      </if>
      <if test="trafficprice != null">
        trafficPrice = #{trafficprice,jdbcType=INTEGER},
      </if>
      <if test="payprice != null">
        payPrice = #{payprice,jdbcType=INTEGER},
      </if>
      <if test="flowstatus != null">
        flowStatus = #{flowstatus,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null">
        payTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradingflow != null">
        tradingFlow = #{tradingflow,jdbcType=VARCHAR},
      </if>
      <if test="deliverytime != null">
        deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradetime != null">
        tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micromall.daoserver.dbmodel.Mallorder">
    update mallorder
    set orderCode = #{ordercode,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      platformId = #{platformid,jdbcType=INTEGER},
      orderType = #{ordertype,jdbcType=INTEGER},
      targetId = #{targetid,jdbcType=VARCHAR},
      targetName = #{targetname,jdbcType=VARCHAR},
      targetAddress = #{targetaddress,jdbcType=VARCHAR},
      targetPhone = #{targetphone,jdbcType=VARCHAR},
      standardPrice = #{standardprice,jdbcType=INTEGER},
      salePrice = #{saleprice,jdbcType=INTEGER},
      costPrice = #{costprice,jdbcType=INTEGER},
      trafficPrice = #{trafficprice,jdbcType=INTEGER},
      payPrice = #{payprice,jdbcType=INTEGER},
      flowStatus = #{flowstatus,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      payTime = #{paytime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      tradingFlow = #{tradingflow,jdbcType=VARCHAR},
      deliveryTime = #{deliverytime,jdbcType=TIMESTAMP},
      tradeTime = #{tradetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>