<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microshop.servicedao.mapper.MallbannerdetailMapper">
  <resultMap id="BaseResultMap" type="com.microshop.servicedao.dbmodel.Mallbannerdetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="bannerId" jdbcType="VARCHAR" property="bannerid" />
    <result column="relationId" jdbcType="VARCHAR" property="relationid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="typeId" jdbcType="INTEGER" property="typeid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bannerId, relationId, sort, typeId, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallbannerdetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mallbannerdetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.microshop.servicedao.dbmodel.Mallbannerdetail">
    insert into mallbannerdetail (id, bannerId, relationId, 
      sort, typeId, createTime
      )
    values (#{id,jdbcType=VARCHAR}, #{bannerid,jdbcType=VARCHAR}, #{relationid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{typeid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microshop.servicedao.dbmodel.Mallbannerdetail">
    insert into mallbannerdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bannerid != null">
        bannerId,
      </if>
      <if test="relationid != null">
        relationId,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="typeid != null">
        typeId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bannerid != null">
        #{bannerid,jdbcType=VARCHAR},
      </if>
      <if test="relationid != null">
        #{relationid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.microshop.servicedao.dbmodel.Mallbannerdetail">
    update mallbannerdetail
    <set>
      <if test="bannerid != null">
        bannerId = #{bannerid,jdbcType=VARCHAR},
      </if>
      <if test="relationid != null">
        relationId = #{relationid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        typeId = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microshop.servicedao.dbmodel.Mallbannerdetail">
    update mallbannerdetail
    set bannerId = #{bannerid,jdbcType=VARCHAR},
      relationId = #{relationid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      typeId = #{typeid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>