<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microshop.servicedao.mapper.MallpaymentMapper">
  <resultMap id="BaseResultMap" type="com.microshop.servicedao.dbmodel.Mallpayment">
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="platformId" jdbcType="INTEGER" property="platformid" />
    <result column="applyFlow" jdbcType="VARCHAR" property="applyflow" />
    <result column="payType" jdbcType="INTEGER" property="paytype" />
    <result column="payMoney" jdbcType="INTEGER" property="paymoney" />
    <result column="payFee" jdbcType="INTEGER" property="payfee" />
    <result column="payStatus" jdbcType="INTEGER" property="paystatus" />
    <result column="payFlow" jdbcType="VARCHAR" property="payflow" />
    <result column="updateTim" jdbcType="TIMESTAMP" property="updatetim" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, platformId, applyFlow, payType, payMoney, payFee, payStatus, payFlow, updateTim, 
    createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallpayment
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mallpayment
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.microshop.servicedao.dbmodel.Mallpayment">
    insert into mallpayment (Id, platformId, applyFlow, 
      payType, payMoney, payFee, 
      payStatus, payFlow, updateTim, 
      createTime)
    values (#{id,jdbcType=VARCHAR}, #{platformid,jdbcType=INTEGER}, #{applyflow,jdbcType=VARCHAR}, 
      #{paytype,jdbcType=INTEGER}, #{paymoney,jdbcType=INTEGER}, #{payfee,jdbcType=INTEGER}, 
      #{paystatus,jdbcType=INTEGER}, #{payflow,jdbcType=VARCHAR}, #{updatetim,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.microshop.servicedao.dbmodel.Mallpayment">
    insert into mallpayment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="platformid != null">
        platformId,
      </if>
      <if test="applyflow != null">
        applyFlow,
      </if>
      <if test="paytype != null">
        payType,
      </if>
      <if test="paymoney != null">
        payMoney,
      </if>
      <if test="payfee != null">
        payFee,
      </if>
      <if test="paystatus != null">
        payStatus,
      </if>
      <if test="payflow != null">
        payFlow,
      </if>
      <if test="updatetim != null">
        updateTim,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="platformid != null">
        #{platformid,jdbcType=INTEGER},
      </if>
      <if test="applyflow != null">
        #{applyflow,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paymoney != null">
        #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="payfee != null">
        #{payfee,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="payflow != null">
        #{payflow,jdbcType=VARCHAR},
      </if>
      <if test="updatetim != null">
        #{updatetim,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.microshop.servicedao.dbmodel.Mallpayment">
    update mallpayment
    <set>
      <if test="platformid != null">
        platformId = #{platformid,jdbcType=INTEGER},
      </if>
      <if test="applyflow != null">
        applyFlow = #{applyflow,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        payType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paymoney != null">
        payMoney = #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="payfee != null">
        payFee = #{payfee,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        payStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="payflow != null">
        payFlow = #{payflow,jdbcType=VARCHAR},
      </if>
      <if test="updatetim != null">
        updateTim = #{updatetim,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microshop.servicedao.dbmodel.Mallpayment">
    update mallpayment
    set platformId = #{platformid,jdbcType=INTEGER},
      applyFlow = #{applyflow,jdbcType=VARCHAR},
      payType = #{paytype,jdbcType=INTEGER},
      payMoney = #{paymoney,jdbcType=INTEGER},
      payFee = #{payfee,jdbcType=INTEGER},
      payStatus = #{paystatus,jdbcType=INTEGER},
      payFlow = #{payflow,jdbcType=VARCHAR},
      updateTim = #{updatetim,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>