<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microshop.servicedao.mapper.MallgoodspictureMapper">
  <resultMap id="BaseResultMap" type="com.microshop.servicedao.dbmodel.Mallgoodspicture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsId" jdbcType="VARCHAR" property="goodsid" />
    <result column="pictureUrl" jdbcType="VARCHAR" property="pictureurl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsId, pictureUrl, sort, state, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallgoodspicture
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mallgoodspicture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.microshop.servicedao.dbmodel.Mallgoodspicture">
    insert into mallgoodspicture (id, goodsId, pictureUrl, 
      sort, state, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{goodsid,jdbcType=VARCHAR}, #{pictureurl,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microshop.servicedao.dbmodel.Mallgoodspicture">
    insert into mallgoodspicture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsId,
      </if>
      <if test="pictureurl != null">
        pictureUrl,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.microshop.servicedao.dbmodel.Mallgoodspicture">
    update mallgoodspicture
    <set>
      <if test="goodsid != null">
        goodsId = #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="pictureurl != null">
        pictureUrl = #{pictureurl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microshop.servicedao.dbmodel.Mallgoodspicture">
    update mallgoodspicture
    set goodsId = #{goodsid,jdbcType=VARCHAR},
      pictureUrl = #{pictureurl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>