<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micromall.daoserver.mapper.MallaccountpayMapper">
  <resultMap id="BaseResultMap" type="com.micromall.daoserver.dbmodel.Mallaccountpay">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devId" jdbcType="VARCHAR" property="devid" />
    <result column="devType" jdbcType="VARCHAR" property="devtype" />
    <result column="outTradeNo" jdbcType="VARCHAR" property="outtradeno" />
    <result column="outTradeAppid" jdbcType="VARCHAR" property="outtradeappid" />
    <result column="outTradePlatform" jdbcType="VARCHAR" property="outtradeplatform" />
    <result column="payMoney" jdbcType="INTEGER" property="paymoney" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="payChannel" jdbcType="INTEGER" property="paychannel" />
    <result column="payStatus" jdbcType="INTEGER" property="paystatus" />
    <result column="payErrdesc" jdbcType="VARCHAR" property="payerrdesc" />
    <result column="payErrcode" jdbcType="VARCHAR" property="payerrcode" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="searchNum" jdbcType="INTEGER" property="searchnum" />
    <result column="thirdTradeNo" jdbcType="VARCHAR" property="thirdtradeno" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="nextFireTime" jdbcType="TIMESTAMP" property="nextfiretime" />
    <result column="finishTime" jdbcType="TIMESTAMP" property="finishtime" />
    <result column="tradeType" jdbcType="INTEGER" property="tradetype" />
    <result column="refundNo" jdbcType="VARCHAR" property="refundno" />
    <result column="refundId" jdbcType="VARCHAR" property="refundid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, devId, devType, outTradeNo, outTradeAppid, outTradePlatform, payMoney, fee, 
    payChannel, payStatus, payErrdesc, payErrcode, createTime, updateTime, searchNum, 
    thirdTradeNo, userName, nextFireTime, finishTime, tradeType, refundNo, refundId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallaccountpay
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mallaccountpay
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.micromall.daoserver.dbmodel.Mallaccountpay">
    insert into mallaccountpay (id, ip, devId, 
      devType, outTradeNo, outTradeAppid, 
      outTradePlatform, payMoney, fee, 
      payChannel, payStatus, payErrdesc, 
      payErrcode, createTime, updateTime, 
      searchNum, thirdTradeNo, userName, 
      nextFireTime, finishTime, tradeType, 
      refundNo, refundId)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{devid,jdbcType=VARCHAR}, 
      #{devtype,jdbcType=VARCHAR}, #{outtradeno,jdbcType=VARCHAR}, #{outtradeappid,jdbcType=VARCHAR}, 
      #{outtradeplatform,jdbcType=VARCHAR}, #{paymoney,jdbcType=INTEGER}, #{fee,jdbcType=INTEGER}, 
      #{paychannel,jdbcType=INTEGER}, #{paystatus,jdbcType=INTEGER}, #{payerrdesc,jdbcType=VARCHAR}, 
      #{payerrcode,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{searchnum,jdbcType=INTEGER}, #{thirdtradeno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{nextfiretime,jdbcType=TIMESTAMP}, #{finishtime,jdbcType=TIMESTAMP}, #{tradetype,jdbcType=INTEGER}, 
      #{refundno,jdbcType=VARCHAR}, #{refundid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.micromall.daoserver.dbmodel.Mallaccountpay">
    insert into mallaccountpay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devid != null">
        devId,
      </if>
      <if test="devtype != null">
        devType,
      </if>
      <if test="outtradeno != null">
        outTradeNo,
      </if>
      <if test="outtradeappid != null">
        outTradeAppid,
      </if>
      <if test="outtradeplatform != null">
        outTradePlatform,
      </if>
      <if test="paymoney != null">
        payMoney,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="paychannel != null">
        payChannel,
      </if>
      <if test="paystatus != null">
        payStatus,
      </if>
      <if test="payerrdesc != null">
        payErrdesc,
      </if>
      <if test="payerrcode != null">
        payErrcode,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="searchnum != null">
        searchNum,
      </if>
      <if test="thirdtradeno != null">
        thirdTradeNo,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="nextfiretime != null">
        nextFireTime,
      </if>
      <if test="finishtime != null">
        finishTime,
      </if>
      <if test="tradetype != null">
        tradeType,
      </if>
      <if test="refundno != null">
        refundNo,
      </if>
      <if test="refundid != null">
        refundId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        #{devid,jdbcType=VARCHAR},
      </if>
      <if test="devtype != null">
        #{devtype,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null">
        #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="outtradeappid != null">
        #{outtradeappid,jdbcType=VARCHAR},
      </if>
      <if test="outtradeplatform != null">
        #{outtradeplatform,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null">
        #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=INTEGER},
      </if>
      <if test="paychannel != null">
        #{paychannel,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="payerrdesc != null">
        #{payerrdesc,jdbcType=VARCHAR},
      </if>
      <if test="payerrcode != null">
        #{payerrcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="searchnum != null">
        #{searchnum,jdbcType=INTEGER},
      </if>
      <if test="thirdtradeno != null">
        #{thirdtradeno,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nextfiretime != null">
        #{nextfiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradetype != null">
        #{tradetype,jdbcType=INTEGER},
      </if>
      <if test="refundno != null">
        #{refundno,jdbcType=VARCHAR},
      </if>
      <if test="refundid != null">
        #{refundid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micromall.daoserver.dbmodel.Mallaccountpay">
    update mallaccountpay
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devid != null">
        devId = #{devid,jdbcType=VARCHAR},
      </if>
      <if test="devtype != null">
        devType = #{devtype,jdbcType=VARCHAR},
      </if>
      <if test="outtradeno != null">
        outTradeNo = #{outtradeno,jdbcType=VARCHAR},
      </if>
      <if test="outtradeappid != null">
        outTradeAppid = #{outtradeappid,jdbcType=VARCHAR},
      </if>
      <if test="outtradeplatform != null">
        outTradePlatform = #{outtradeplatform,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null">
        payMoney = #{paymoney,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="paychannel != null">
        payChannel = #{paychannel,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        payStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="payerrdesc != null">
        payErrdesc = #{payerrdesc,jdbcType=VARCHAR},
      </if>
      <if test="payerrcode != null">
        payErrcode = #{payerrcode,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="searchnum != null">
        searchNum = #{searchnum,jdbcType=INTEGER},
      </if>
      <if test="thirdtradeno != null">
        thirdTradeNo = #{thirdtradeno,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nextfiretime != null">
        nextFireTime = #{nextfiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishtime != null">
        finishTime = #{finishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradetype != null">
        tradeType = #{tradetype,jdbcType=INTEGER},
      </if>
      <if test="refundno != null">
        refundNo = #{refundno,jdbcType=VARCHAR},
      </if>
      <if test="refundid != null">
        refundId = #{refundid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micromall.daoserver.dbmodel.Mallaccountpay">
    update mallaccountpay
    set ip = #{ip,jdbcType=VARCHAR},
      devId = #{devid,jdbcType=VARCHAR},
      devType = #{devtype,jdbcType=VARCHAR},
      outTradeNo = #{outtradeno,jdbcType=VARCHAR},
      outTradeAppid = #{outtradeappid,jdbcType=VARCHAR},
      outTradePlatform = #{outtradeplatform,jdbcType=VARCHAR},
      payMoney = #{paymoney,jdbcType=INTEGER},
      fee = #{fee,jdbcType=INTEGER},
      payChannel = #{paychannel,jdbcType=INTEGER},
      payStatus = #{paystatus,jdbcType=INTEGER},
      payErrdesc = #{payerrdesc,jdbcType=VARCHAR},
      payErrcode = #{payerrcode,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      searchNum = #{searchnum,jdbcType=INTEGER},
      thirdTradeNo = #{thirdtradeno,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      nextFireTime = #{nextfiretime,jdbcType=TIMESTAMP},
      finishTime = #{finishtime,jdbcType=TIMESTAMP},
      tradeType = #{tradetype,jdbcType=INTEGER},
      refundNo = #{refundno,jdbcType=VARCHAR},
      refundId = #{refundid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>