<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micromall.daoserver.mapper.MalluserloginMapper">
  <resultMap id="BaseResultMap" type="com.micromall.daoserver.dbmodel.Malluserlogin">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="loginPwd" jdbcType="VARCHAR" property="loginpwd" />
    <result column="loginType" jdbcType="INTEGER" property="logintype" />
    <result column="platformId" jdbcType="INTEGER" property="platformid" />
    <result column="userType" jdbcType="INTEGER" property="usertype" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, loginName, loginPwd, loginType, platformId, userType, state, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from malluserlogin
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from malluserlogin
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.micromall.daoserver.dbmodel.Malluserlogin">
    insert into malluserlogin (id, userId, loginName, 
      loginPwd, loginType, platformId, 
      userType, state, createTime
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{loginpwd,jdbcType=VARCHAR}, #{logintype,jdbcType=INTEGER}, #{platformid,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.micromall.daoserver.dbmodel.Malluserlogin">
    insert into malluserlogin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="loginpwd != null">
        loginPwd,
      </if>
      <if test="logintype != null">
        loginType,
      </if>
      <if test="platformid != null">
        platformId,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        #{logintype,jdbcType=INTEGER},
      </if>
      <if test="platformid != null">
        #{platformid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micromall.daoserver.dbmodel.Malluserlogin">
    update malluserlogin
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        loginPwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        loginType = #{logintype,jdbcType=INTEGER},
      </if>
      <if test="platformid != null">
        platformId = #{platformid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micromall.daoserver.dbmodel.Malluserlogin">
    update malluserlogin
    set userId = #{userid,jdbcType=VARCHAR},
      loginName = #{loginname,jdbcType=VARCHAR},
      loginPwd = #{loginpwd,jdbcType=VARCHAR},
      loginType = #{logintype,jdbcType=INTEGER},
      platformId = #{platformid,jdbcType=INTEGER},
      userType = #{usertype,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>