<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microshop.servicedao.mapper.MallshopdetailMapper">
  <resultMap id="BaseResultMap" type="com.microshop.servicedao.dbmodel.Mallshopdetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="taxCheck" jdbcType="VARCHAR" property="taxcheck" />
    <result column="bankName" jdbcType="VARCHAR" property="bankname" />
    <result column="bankAccount" jdbcType="VARCHAR" property="bankaccount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, email, address, companyName, taxCheck, bankName, bankAccount, remark, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mallshopdetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mallshopdetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.microshop.servicedao.dbmodel.Mallshopdetail">
    insert into mallshopdetail (id, email, address, 
      companyName, taxCheck, bankName, 
      bankAccount, remark, createTime
      )
    values (#{id,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{companyname,jdbcType=VARCHAR}, #{taxcheck,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, 
      #{bankaccount,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microshop.servicedao.dbmodel.Mallshopdetail">
    insert into mallshopdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="companyname != null">
        companyName,
      </if>
      <if test="taxcheck != null">
        taxCheck,
      </if>
      <if test="bankname != null">
        bankName,
      </if>
      <if test="bankaccount != null">
        bankAccount,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="taxcheck != null">
        #{taxcheck,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null">
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.microshop.servicedao.dbmodel.Mallshopdetail">
    update mallshopdetail
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="taxcheck != null">
        taxCheck = #{taxcheck,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        bankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null">
        bankAccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microshop.servicedao.dbmodel.Mallshopdetail">
    update mallshopdetail
    set email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      companyName = #{companyname,jdbcType=VARCHAR},
      taxCheck = #{taxcheck,jdbcType=VARCHAR},
      bankName = #{bankname,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>